<h1>&Auml;ndrar annons</h1>

<% form_for(@ad) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Uppdatera' %>
  </p>
<% end %>

<%= link_to 'Tillbaka', ads_path, { :class => 'button back' } %>
<%= link_to 'Visa', @ad, { :class => 'button show' } %>
