<p>
  <%= f.label :name, 'Namn' %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description, 'Beskrivning' %><br />
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :facility_id, 'Facilitet' %><br />
  <%= f.collection_select :facility_id, Facility.find(:all), :id, :name %>
</p>
<p>
  <%= f.label :start, 'B&ouml;rjar' %><br />
  <%= f.datetime_select :start %>
</p>
<p>
  <%= f.label :end, 'Slutar' %><br />
  <%= f.datetime_select :end %>
</p>