<h1>Alla medlemmar</h1>

<table class="index">
  <tr>
	<th></th>
	<th>Anv&auml;ndarnamn:</th>
    <%- if logged_in? -%>
    <th>F&ouml;rnamn:</th>
    <th>Efternamn:</th>
    <th>Ort:</th>
    <% end %>
    <th>Blev medlem:</th>
    <%- if logged_in? && current_user.is_admin? -%>
    <th>Avgift betald?</th>
    <th></th>
    <th></th>
    <%- end -%>
  </tr>

<% @users.each do |user| %>
  <tr>
  	<td class="icon">
	  <% if user.is_admin? %>
	  	<%= image_tag("/images/silk-icons/user_red.png", :alt => 'Kanslist') %>
	  <% elsif user.is_coach? %>
	  	<%= image_tag("/images/silk-icons/user.png", :alt => 'Tr&auml;nare') %>
	  <% elsif user.is_pr_admin? %>
	  	<%= image_tag("/images/silk-icons/user_orange.png", :alt => 'Reklamansvarig') %>
	  <% else %>
	  	<%= image_tag("/images/silk-icons/user_green.png", :alt => 'Medlem') %>
	  <% end %>
	</td>
    <td><%= link_to user.login, user %></td>
    <%- if logged_in? %>
    <td><%= user.name %></td>
    <td><%= user.surname %></td>
    <td><%= user.city %></td>
    <% end %>
    <td><%= distance_of_time_in_words_to_now(user.created_at) %> sedan</td>
    <%- if logged_in? && current_user.is_admin? -%>
    <td class="icon"><% if user.fee_payed? %><%= image_tag '/images/silk-icons/accept.png' %><%- else -%><%= image_tag '/images/silk-icons/stop.png' %><%- end -%></td>
    <td class="icon"><%= link_to image_tag("/images/silk-icons/pencil.png", :border => 0, :alt => '&Auml;ndra'), edit_user_path(user) %></td>
    <td class="icon"><%= link_to image_tag("/images/silk-icons/cross.png", :border => 0, :alt => 'Ta bort'), user, :confirm => '&Auml;r du s&auml;ker?', :method => :delete %></td>
    <%- end -%>
  </tr>
<% end %>
</table>

<p>
<h3>F&ouml;rklaring:</h3>
<%= image_tag("/images/silk-icons/user_green.png", :alt => 'Medlem') %>
= Medlem
<br />
<%= image_tag("/images/silk-icons/user.png", :alt => 'Tr&auml;nare') %>
= Tr&auml;nare
<br />
<%= image_tag("/images/silk-icons/user_orange.png", :alt => 'Reklamansvarig') %>
= Reklamansvarig
<br />
<%= image_tag("/images/silk-icons/user_red.png", :alt => 'Kanslist') %>
= Kanslist
</p>

<% if logged_in? && current_user.is_admin? %>
<br />
<%= link_to 'Ny medlem', new_user_path, { :class => 'button add' } %>
<% end %>
